body {

    font-family: 'Poppins', 'Lexend', 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #e6e6e6, #f0f0f0);

    color: #333333;
}
a {
text-decoration: none;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;
    background-color: greenyellow;
}
header, footer {
    background-color: #f8f400; 
    color: #530f0f;
    text-align: center;
    padding: 20px;
}
.logo{
    display: inline;
    text-align: center;
    width: 150px;
    height: auto;
} 

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
    border-radius: 10px; /* Corner radius */
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: calc(33.33% - 20px); /* 33.33% width for each card with margin */
}

@media (max-width: 768px) {
    .product-card {
        flex-basis: calc(100% - 20px); /* Full width for each card on smaller screens */
    }
}

 

.contact-info, .team-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    header h2 {
        font-size: 1.2em;
    }
}
